/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * toybattle implementation : © <Mathieu Chatrain> <mathieu.chatrain@gmail.com> && <Yannick Briol> <camertwo@hotmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * toybattle.css
 *
 * toybattle stylesheet
 *
 */

#global {
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
position: relative;
margin-top: 20px;

        
}

#board_castle {

    width: 500px;
    height: 833.5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
    background-image: url('img/TB_Boards.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: 400% 200%;
}

.base {
    position: absolute;
    width: 66px;
    height: 87.5px;
    opacity: 0.5;
    /*filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));*/
    background-image: url('img/TB_Tiles.png');
    background-position-x: -100%;
    background-position-y: 0%;
    background-size: 900% 200%;
}

#base_castle_1 {
    left: 43.2%; 
    top: 87.5%;
}
#base_castle_11 {
    left: 10.2%; 
    top: 84.8%;
}
#base_castle_12 {
    left: 76.6%; 
    top: 84.8%;
}
#base_castle_13 {
    left: 30.4%; 
    top: 70.5%;
}
#base_castle_14 {
    left: 56%; 
    top: 70.5%;
}
#base_castle_15 {
    left: 8.1%; 
    top: 63.2%;
}
#base_castle_16 {
    left: 79.1%; 
    top: 63.2%;
}
#base_castle_17 {
    left: 13%; 
    top: 44.2%;
}
#base_castle_18 {
    left: 43.4%; 
    top: 44.2%;
}
#base_castle_19 {
    left: 73.8%; 
    top: 44.2%;
}
#base_castle_20 {
    left: 7.8%; 
    top: 25%;
}
#base_castle_21 {
    left: 78.8%; 
    top: 25%;
}
#base_castle_22 {
    left: 30.6%; 
    top: 15.8%;
}
#base_castle_23 {
    left: 56.2%; 
    top: 15.8%;
}
#base_castle_24 {
    left: 10.4%; 
    top: 1.5%;
}
#base_castle_25 {
    left: 76.8%; 
    top: 1.5%;
}
#base_castle_41 {
    left: 43.2%; 
    top: 1.4%;
}


