/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * toybattle implementation : © <Mathieu Chatrain> <mathieu.chatrain@gmail.com> && <Yannick Briol> <camertwo@hotmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * toybattle.css
 *
 * toybattle stylesheet
 *
 */


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --troop-width: 66px;
    --troop-height: 88px;
    --board-width: 500px;
    --board-height: 833.5px;
}

body {
    background-image: url('img/TB_texture.jpg');
    background-repeat: repeat;
    background-size: 105px 108px;
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond semi-transparente */
    background-blend-mode: multiply; /* Fusionne couleur et texture */
  }


  .bgabutton_khakhi {
    background-color: #7a9f34;
  }

  .bgabutton_orange {
    background-color: #e3a733;
  }
  
  .bgaimagebutton {
    margin: 0px 12px;
  }  

  a.bgabutton:hover {
    color:white;
  }



/* Fonts and Tooltips */

@font-face {
    font-family: 'Livingstone';
    font-style: normal;
    font-weight: normal;
    src: local('Livingstone'), url(img/Livingstone.ttf);
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: normal;
    src: local('Calibri'), url(img/Calibri.ttf);
  }
  
  /* tooltip Card */
  .tooltip_content {
    display: flex;
    justify-content: space-between;
    height: auto;
  
  }
  
  .troop_container {
    flex: 1;
   /* margin-right: 10px;*/
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: 100px;
    gap: 10px;
  }
  
  .info_container {
    flex: 4;
    min-width: 200px;
  }
  
  .tooltip_title {
    font-family: Livingstone;
    font-size: 2vw;
    color:#7a9f34;
  }
  
  .tooltip_desc {
    font-family: Calibri;
    font-size: 1vw;
  }

  .tooltip_info {
    font-family: Calibri;
    font-size: 1vw;
    color:#2a5d9c;
  }
  



/* Players Panel */

.a_board {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center; /* Centre horizontalement */
    gap: 3px;
    margin-bottom: 5px;
    height: 32px;
}

/* Play Area */   
#global_id {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    position: relative;
}


.board-inverted {
    transform: rotate(180deg);
}

.board {
    width: var(--board-width);
    height: var(--board-height);
    position: relative;
    margin: 0 5px;
    border-radius: 5px;
    background-image: url('img/TB_Boards.jpg');
    background-size: 400% 200%;
}

.playmat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    height: 90px;

    display: flex;
    flex-direction: row;
    margin : 5px 0;
}

#white_line {
    width: 100%;
}


.deck {
    width: var(--troop-width);
    height: var(--troop-height);
    position: relative;
    background-image: url('img/TB_Tiles.png');
    background-size: 900% 200%;
}

.deck_counter {
    position: absolute;
    z-index: 100;
    font-size: 16px;
    font-weight: bold;
    color: white;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.rack {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

   /* background: linear-gradient(to bottom, #f3f3f3 0%, #696969 33%, #000 100%);
    /*background: linear-gradient(to bottom, #f3f3f3 0%, #a1b7d2 100%) ;
    /*background:#a1b7d2;*/
}

.rack_blue {
    background: linear-gradient(to bottom, rgba(210, 180, 140, 0) 30%, #d2b48c 50%, #8b4513 100%);
}

.rack_red {
    background: linear-gradient(to top, rgba(210, 180, 140, 0) 30%, #d2b48c 50%, #8b4513 100%);
}

.discard {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px;
}

.linear_blue {
    border: 3px solid;
    border-image: linear-gradient(to top, #4f66a2, #a1b7d2) 1;
    border-radius: 15px;
}

.linear_red {
   border: 3px solid;
    border-image: linear-gradient(to bottom, #d1553e, #f3a7a1) 1;
    border-radius: 15px;
}

.linear_red_top {
    border: 3px solid;
    border-image: linear-gradient(to top, #d1553e, #f3a7a1) 1;
    border-radius: 15px;
}

.base_all {
    position: absolute;
    width: var(--troop-width);
    height: calc(var(--troop-width) + var(--troop-height) / 2);
    z-index: 300;
}

.base {
    position: absolute;
    width: var(--troop-width);
    height: var(--troop-height);
}

.base_blue {
    background-image: url('img/TB_Tiles.png');
    background-size: 900% 200%;
    background-position: -100% 0%;
}

.base_red {
    background-image: url('img/TB_Tiles.png');
    background-size: 900% 200%;
    background-position: -100% -100%;
}

.troop {
    width: var(--troop-width);
    height: var(--troop-height);
    background-image: url('img/TB_Tiles.png');
    background-size: 900% 200%;
    transition: transform 0.5s ease-in-out;
}

.troop:hover {
    opacity: 1;
    scale: 1.2;
}

.troop_icon {
    width: 24px;
    height: 32px;
    background-image: url('img/TB_Tiles.png');
    background-size: 900% 200%;
}

.troop-placeholder {
    width: var(--troop-width);
    height: var(--troop-height);
    background: transparent; /* when moving a troop to a flex */
}

.opa_50 {
    opacity:0.5;
}

.opa_70 {
    opacity:0.7;
}

.opa_70.selectable,
.opa_70.selected {
    opacity: 1 !important;
}

.medals {
    background-image: url('img/TB_Medals.png');
    background-size: 200% 100%;
    transition: transform 0.5s ease-in-out;
}

.full_medal {
    width: 24px;
    height: 24px;
    background-position: 0% 0%;
}

.null_medal {
    width: 24px;
    height: 24px;
    background-position: -100% 0%;
}

.board_medal {
    width: 11px;
    height: 11px;
    background-position: 0% 0%;
    z-index: 10;
}

.selectable {
    cursor: pointer;
    pointer-events: auto !important;
}

.selected {
    pointer-events: auto ;
}



.selectable.base_all {
    outline: 3px dashed yellow;
    border-radius: 4px;
    
  }
  
.selected.base_all {
    outline: 3px solid yellow; 
    border-radius: 4px;
    
  }

  .selectable svg, .selected svg {
    
    width: 100%;
    height: 100%;
    overflow: visible;  /* IMPORATNT: permet au contour de dépasser la taille de l'image */
    
    
}


.path_selected {
    fill: none;
    stroke: yellow;
    stroke-width: 40; /*epaisseur*/
    
     
}

.path_selectable {
    fill: none;
    stroke: yellow;
    stroke-width: 40; /*epaisseur*/
    stroke-dasharray: 100, 30; /* Pointillé  longeur trait et longueur espace */
    
}


/* Tisaac Help Mode */
/****** help mode Tisaac ********/
#help-mode-switch .checkbox {
    display: none;
}

#help-mode-switch .label {
    background-color: rgb(57, 86, 105);
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 22px;
    width: 40px;
}
#help-mode-switch .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 18px;
    width: 18px;
    transform: translateX(0px);
    transition: transform 0.2s linear, color 0.7s linear;
}
#help-mode-switch .checkbox:checked + .label .ball {
    transform: translateX(18px);
}
#help-mode-switch svg {
    width: 22px;
    color: rgb(57, 86, 105);
}
#ebd-body.help-mode .tooltipable {
    cursor: help;
}

#ebd-body.help-mode .tooltipable .cardcontent {
    pointer-events: none;
}

.dijitTooltip {
    width: auto !important;
}


/* ICONES POUR LOG ET BANDEAU */


.icon_bandeau {
    
    width: 50px;
    height: 50px;
    background-image: url('img/TB_Tiles_no_num.png');
    background-size: 900% 200%;
    display: inline-block;
    vertical-align: middle;
   
}

.icon_power_bandeau {
    
    width: 50px;
    height: 50px;
    background-image: url('img/Power_base_icon.png');
    background-size: 500% 100%;
    display: inline-block;
    vertical-align: middle;
   
}

.icon_log {
    
    width: 35px;
    height: 35px;
    background-image: url('img/TB_Tiles_no_num.png');
    background-size: 900% 200%;
    display: inline-block;
    vertical-align: middle; 
}

.icon_blue {
    background-position-y: 0%;
}

.icon_red {
    background-position-y: -100%;
}

.icon_troop_0 {background-position-x: 0%;}
.icon_troop_1 {background-position-x: -100%;}
.icon_troop_2 {background-position-x: -200%;}
.icon_troop_3 {background-position-x: -300%;}
.icon_troop_4 {background-position-x: -400%;}
.icon_troop_5 {background-position-x: -500%;}
.icon_troop_6 {background-position-x: -600%;}
.icon_troop_7 {background-position-x: -700%;}
.icon_troop_8 {background-position-x: -800%;}

.icon_powerbase_1 {background-position-x: 0%;}
.icon_powerbase_3 {background-position-x: -100%;}
.icon_powerbase_4 {background-position-x: -200%;}
.icon_powerbase_5 {background-position-x: -300%;}
.icon_powerbase_8 {background-position-x: -400%;}



.checks {
    
    width: var(--troop-width);
    height: var(--troop-height);
    background-image: url('img/TB_Checks.png');
    background-size: 200% 100%;
}

.check_blue {
    background-position: 0% 0%;
}

.check_red {
    background-position: -100% 0%;
}





@media (orientation: portrait) {

    #global_id {
        flex-direction: column;
    }

    .line {
        justify-content: space-between;
        gap: 10px;
    }

    .rack {
        width: 600px;
        gap: 10px;
    }

    .playmat {
        flex-direction: row;
    }

    .discard {
        width: 100px;
        height: 833px;
    }
}

/* Landscape orientation */
@media (orientation: landscape) {

    #global_id {
        flex-direction: row;
    }

    .line {
        justify-content: center;
        gap: 20%;
    }

    .rack {
        width: 100%;
        gap: 2px;
    }

    .playmat {
        flex-direction: column;
        height: var(--board-height);
        width: 542px;
    }

    .discard {
        width: 100%;
        height: 200px;
    }

}
