/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * toybattle implementation : © <Mathieu Chatrain> <mathieu.chatrain@gmail.com> && <Yannick Briol> <camertwo@hotmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * toybattle.css
 *
 * toybattle stylesheet
 *
 */

.carre {
    height: 50px;
    width: 50px;
    background-color: red;
    
}

.selectable {
    cursor: pointer;
    border: solid 2px black;
}



